<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Do you like <%= title %></p>
    <img src="https://cdn.vox-cdn.com/uploads/chorus_asset/file/7787553/tldcar-detroit-auto-show-2017-4177.0.jpg" alt="Car" />
  </body>
</html>
